:root{
    --main-font:'Roboto',sans-serif;
    --secondary-font:'Raleway',sans-serif;
    --primari-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --dark-bg-cl:#2F303A;
    --light-bg-cl:#F5F4FA;

}
body {
color: #212121;
font-family:var(--main-font), sans-serif;

}
.page-header {
    background-color: #FFFFFF;
    width: 1600px
}
.logo-link {
    color:#000000;
    font-family: var(--secondary-font),sans-serif;
    font-size: 26px;
    line-height:1.2
}
.logo-accent{
    color:var(--accent-color);
}
.logo-accent-bl {
    color:#FFFFFF;
}
.menu-nav{
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
}
 .list {
    list-style: none;
}
 .link {
    text-decoration: none;
    color: currentColor;
}
.site-nav{
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color:#757575; 
}
.site-nav:hover
.site-nav:focus {
    color: #2196F3;
}
.menu-nav.link {
color: var(--title-text-color);

}
.menu-nav .link:hover,
.menu-nav .link:focus{
color: #2196F3
}
.link-current{
    color: #2196F3;
}
.button.button-current{
    background-color: #2196F3;
}
.hero {
    background-color: var(--dark-bg-cl);
    width: 1600px;
}
.hero-title{
    color: #FFFFFF;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height:1.4;
    text-align:center;
}
 .section .bg {
    background-color:#E5E5E5;
}
.section-title {
    color:var(--title-text-color) ;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.section-title-name {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}
.section-title-prg{
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.button{
    font-family: inherit;
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06em;
}
.button :hover, 
.button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.button {
    background-color: var(--light-bg-cl);
    cursor:pointer;
}
.comando {
    background-color: var(--light-bg-cl);
    width: 1600px;
}

.footer {
    background-color: var(--dark-bg-cl);
}
.address{
    font-style: normal;
    color:#FFFFFf ;
    font-size: 14px;
    line-height:1.7;
    letter-spacing: 0.03em;
}
.logo-link-address{
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link.email-link:hover,
.link.email-link:focus{
    color: var(--accent-color);
}
.link.phone-link:focus,
.link.phone-link:hover{
    color: var(--accent-color);
}



